.combinations-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    flex: 0 0 auto;
    margin-top: 0;
    padding-top: 3.8rem;
    padding-bottom: 1.3rem;
    font-size: 3.1rem;
    letter-spacing: 0.04rem;
  }
}