.combinations-result {
  flex: 1 0 auto;
  width: 100%;
  max-width: 793px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;

  @media (max-width: $medium-screen) {
    max-width: 90%;
    margin-bottom: 3rem;
  }

  table {
    border: 1px solid $border-color;
    width: 100%;
    display: flex;
    flex-direction: column;

    tr {
      display: flex;

      th {
        width: 100%;
        color: $table-header-font-color;
        font-weight: 200;
  
        span {
          text-align: justify;
          width: 63%;
          margin: 0 auto;
          padding-top: 2.5rem;
          font-size: 3.1rem;
          display: block;
          line-height: 3.1rem;
          height: 3.1rem;
          margin-bottom: 1.5rem;
  
          &:after {
            content: "";
            display: inline-block;
            width: 100%;
          }
        }
      }

      td {
        width: 100%;
        padding: 1.1rem;

        span {
          font-size: 1.9rem;
        }
      }

      .message {
        padding-top: 3rem;
      }
    }
  }
}