.search-result {
  min-height: inherit;
  display: flex;
  flex-direction: row;

  @media (max-width: $medium-screen) {
    flex-wrap: wrap;
    padding: 0;
  }

  & > div {
    flex: 1 1 50%;

    @media (max-width: $medium-screen) {
      min-height: 273px;
    }

    &.type-result {
      padding: 2rem 2.9rem;

      @media (max-width: $medium-screen) {
        padding: 2rem 4.8rem;
      }

      &:not(:last-child) {
        border-right: 1px solid $border-color;
  
        @media (max-width: $medium-screen) {
          border: none;
          border-bottom: 1px solid $border-color;
        }
      }

      h1 {
        margin-top: 1.9rem;
      }
    }
  }
}