.selection-viewer {
  .chip-list {
    height: 5.4rem;
    overflow-y: auto;
    margin-right: 0.5rem;
    // Scrollbar styles for Firefox
    scrollbar-color: $blue $light-blue;
    scrollbar-width: thin;

    @media (max-width: $medium-screen) {
      margin-right: 0;
    }

    &::-webkit-scrollbar {
      width: 0.7rem;
    }

    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: $light-blue;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
    }
  }

  .message {
    padding: 0 0.3rem;
  }
    
  .unselect {
    position: fixed;
    bottom: 2.7rem;
    text-decoration: underline;
    font-style: italic;
    color: $red;
    cursor: pointer;
    
    @media (max-width: $medium-screen) {
      display: none;
    }
  }
}