.footer {
  position: fixed;
  position: sticky;
  bottom: 0;
  height: $footer-height;
  background-color: $white;
  width: 100%;
  max-width: $max-app-width;
  -webkit-box-shadow: 0.1rem -0.7rem 0.8rem -0.4rem $shadow-color;
  -moz-box-shadow: 0.1rem -0.7rem 0.8rem -0.4rem $shadow-color;
  box-shadow: 0.1rem -0.7rem 0.8rem -0.4rem $shadow-color;
  clip-path: inset(-1rem 0 0 0);

  @media (max-width: $medium-screen) {
    height: $mobile-footer-height;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: $layout-padding;

    @media (max-width: $medium-screen) {
      padding: 0;
      flex-direction: column;
      flex-wrap: unset;
    }

    .selection-wrapper {
      flex: 1 1 75%;
      height: 100%;
      position: relative;

      @media (max-width: $large-screen) {
        flex-basis: 70%;
      }

      @media (max-width: $medium-screen) {
        text-align: center;
        width: auto;
        padding: $mobile-layout-padding;
      }

      .title {
        margin-top: 2rem;
        letter-spacing: 0.05rem;

        @media (max-width: $medium-screen) {
          font-size: 3.1rem;
          margin-bottom: 1.4rem;
          letter-spacing: 0.02rem;
        }
      }
    }

    .button-wrapper {
      flex: 1 1 25%;
      line-height: inherit;
      height: auto;
      max-width: 300px;

      @media (max-width: $large-screen) {
        flex-basis: 30%;
      }

      @media (max-width: $medium-screen) {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}