.header {
  border-bottom: 1px solid $border-color;
  height: $header-height;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: $layout-padding;

  @media (max-width: $medium-screen) {
    height: $mobile-header-height;
    align-content: flex-start;
    padding: $mobile-layout-padding;
  }

  .image-wrapper {
    flex: 1 1 20%;

    @media (max-width: $x-large-screen) {
        flex-basis: 30%;
    }

    @media (max-width: $medium-screen) {
      flex-basis: 100%;
      text-align: center;
      padding-top: 3.5rem;
      padding-bottom: 2.5rem;
    }
  }

  .search-wrapper {
    flex: 1 1 80%;

    @media (max-width: $x-large-screen) {
      flex-basis: 70%;
    }

    @media (max-width: $medium-screen) {
      flex-basis: 100%;
    }
  }
}