html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  max-width: $max-app-width;
  margin: 0 auto;
  min-height: 100vh;

  .page {
    min-height: $content-min-height;
    padding: $content-padding;

    @media (max-width: $medium-screen) {
      padding: $mobile-content-padding;
    }
  }
}