html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-grey;
}

h1 {
  color: $grey;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.08rem;
  margin-top: 0rem;
  margin-bottom: 0.9rem;
}

span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}