// viewport breakpoints
$medium-screen: 768px;
$large-screen: 992px;
$x-large-screen: 1100px;

// widths
$max-app-width: 1445px;

// heights
$header-height: 132px;
$mobile-header-height: 187px;
$footer-height: 180px;
$mobile-footer-height: 223px;
// The 1 px is the top border
$content-min-height: calc(100vh - #{$header-height} - #{$footer-height} - 1px);

// colors
$white: #FFFFFF;
$grey: #464C52;
$dark-grey:#2C3E50;
$red: #E40045;
$light-blue: #D2E4F4;
$blue: #4B95D2;

// element colors
$border-color: #D6D8DB;
$search-text-color: #7D848A;
$shadow-color: rgba(174, 178, 183, 0.76);
$table-header-font-color: #959BA2;
$checkbox-color: $light-blue;
$checkbox-checked-color: $blue;
$blue-button-color: $blue;
$blue-button-disabled-color: #B7D5ED;
$grey-button-color: #303C49;
$loading-spinner-color: $blue;

// padding
$layout-padding: 0 5rem;
$mobile-layout-padding: 0 2.2rem;
$content-padding: 0 2.2rem;
$mobile-content-padding: 0;