<template>
  <div class="footer">
      <div class="content-wrapper">
        <div class="selection-wrapper">
          <h1 class="title">Your selection</h1>
          <SelectionViewer />
        </div>
        <div class="button-wrapper">
          <ButtonManager />
        </div>
      </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import SelectionViewer from '@/components/SelectionViewer.vue'
import ButtonManager from '@/components/ButtonManager.vue'

@Component({
  components: {
    SelectionViewer,
    ButtonManager
  }
})
export default class Footer extends Vue {};
</script>

<style scoped lang="scss">
@import '@/styles/components/Layout/footer.scss';
</style>
