<template>
  <div class="header">
      <div class="image-wrapper">
          <img alt="Man logo" src="@/assets/logo.png" />
      </div>
      <div class="search-wrapper">
          <SearchBar />
      </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import SearchBar from '@/components/Common/SearchBar.vue'

@Component({
  components: {
    SearchBar
  }
})
export default class Header extends Vue {};
</script>

<style scoped lang="scss">
@import '@/styles/components/Layout/header.scss';
</style>
