<template>
  <div class="page combinations-page">
    <h1>Possible Combinations Table</h1>
    <CombinationsResult :combinations="combinations" />
  </div>
</template>

<script>
import ConfiguratorStepType from '@/interfaces/ConfiguratorStepType'
import CombinationsResult from '@/components/CombinationsResult.vue'
import { mapState } from 'vuex'

export default {
  name: 'Combinations',
  components: {
    CombinationsResult
  },
  computed: mapState({
    combinations: state => state.combinations,
    combinationsAlias: 'combinations'
  }),
  data () {
    return {
      configurationStepTypes: ConfiguratorStepType
    }
  },

  created () {
    this.$store.commit('changeConfigurationStep', this.configurationStepTypes.Combinations)
  }
}
</script>

<style scoped lang="scss">
@import '@/styles/views/combinations.scss';
</style>
