<template>
  <div class="page">
    <Modal v-show="modal.id === modalList.NavigateToCombinations" />
    <SearchResult />
  </div>
</template>

<script>
import Modal from '@/components/Common/Modal.vue'
import SearchResult from '@/components/SearchResult.vue'
import { mapState } from 'vuex'
import ConfiguratorStepType from '@/interfaces/ConfiguratorStepType'
import ModalList from '@/interfaces/ModalList'

export default {
  name: 'Home',
  components: {
    Modal,
    SearchResult
  },
  computed: mapState({
    modal: state => state.modal,
    modalAlias: 'modal'
  }),
  data () {
    return {
      configurationStepTypes: ConfiguratorStepType,
      modalList: ModalList
    }
  },

  created () {
    this.$store.commit('changeConfigurationStep', this.configurationStepTypes.Elements)
  }
}
</script>
