button {
  border: none;
  color: $white;
  
  .button-manager & {
    width: 100%;
    height: 8rem;

    &.blue-button {
      background-color: $blue-button-color;
  
      &:disabled {
        background-color: $blue-button-disabled-color;
      }
    }
  
    &.gray-button {
      background-color: $grey-button-color;
    }
  
    &:not(:disabled) {
      cursor: pointer;
    }
  
    .button-content-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      span {
        padding-right: 1.2rem;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  &.modal-button {
    height: 2.5rem;
    width: 5rem;
    font-size: 1.6rem;
    font-family: inherit;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &.modal-red-button {
      background-color: $red;
    }

    &.modal-blue-button {
      background-color: $blue;
    }

    span {
      font-size: 1.6rem;
    }
  }
}