.checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;

	input[type=checkbox] {
		display: none;

		& + label {
			height: 2.8rem;
			width: 2.8rem;
			border-radius: 0.5rem;
			background-color: $checkbox-color;

			// Labels are not normalized to look like the mockup because if the server ever gets them as a request parameter, we would need to normalize the labels to show them on
			// the frontend and then undo it before we sent them in the request, which represents some unnecessary workload. Furthermore, if ever the labels coming from the server change
			// format (like from 'long-range cabin' to 'long-range-cabin') normalizing with text-transform: uppercase; and then adding the capital C on Cabin wouldn't work in the same way
			// anymore, because we'd now have to remove the second hyphen as well. With that being said, I believe the best option would be to have the labels for the elements being sent
			// from the server in the correct format already.
			& + label {
				padding-left: 1.4rem;
				font-size: 1.8rem;
			}
		}

		&:checked + label {
			background: url('../../assets/icn-check.png') 50% 50% no-repeat;
			background-color: $checkbox-checked-color;
		}

		&:hover + label {
			box-sizing: border-box;
			border: 1px solid $checkbox-checked-color;
		}
	}
}