.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .modal {
    background: $white;
    box-shadow: 0.2rem 0.2rem 2rem 0.1rem;
    max-width: 70%;

    .modal-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button {
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
      }
    }

    .modal-body {
      padding: 2rem;
      font-size: 1.8rem;
    }

    .modal-footer {
      padding: 1.5rem;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity .5s ease
}