.search-bar-wrapper {
  border: 2px solid $border-color;
  height: 5.8rem;
  border-radius: 4.5rem;
  margin: 0 0.5rem;
  padding: 0 2.5rem;
  max-width: 740px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .search-bar {
      border: none;
      outline: none;
      // 3 rem is the width of the magnifying glass icon
      width: calc(100% - 3rem);
      font-size: 1.8rem;
      letter-spacing: 0.05rem;
      padding-right: 1rem;

      &::placeholder {
        color: $search-text-color;
      }

      &:disabled {
        background: none;
      }
  }

  .search-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    &:disabled {
      cursor: initial;
      opacity: 0.5;
    }
  }

  .spinning-wheel {
    display: inline-block;

    &:after {
      content: " ";
      display: block;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 3px solid;
      border-color: $loading-spinner-color transparent $loading-spinner-color transparent;
      animation: loading 1.2s linear infinite;
    }

    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
  