<template>
  <div class="button-manager">
    <div v-if="configurationStep === configurationStepTypes.Elements">
      <Button class="blue-button" label="View Combinations" icon="icn-arrow.png" :disabled="!checkedItems.size()" @clicked="navigateToCombinations" />
    </div>
    <div v-if="configurationStep === configurationStepTypes.Combinations">
      <Button class="gray-button" label="Back" @clicked="navigateBack" />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { State } from 'vuex-class'
import ConfiguratorStepType from '@/interfaces/ConfiguratorStepType'
import Button from '@/components/Common/Button.vue'
import Set from '@/classes/Set'
import CheckedItem from '@/interfaces/CheckedItem'
import { combinationsRoute } from '@/router/routes'
import RestService from '@/services/RestService'
import ElementsResult from '@/interfaces/ElementsResult'
import ElementType from '@/interfaces/ElementType'
import Search from '@/interfaces/Search'
import Element from '@/interfaces/Element'
import ModalList from '@/interfaces/ModalList'

@Component({
  components: {
    Button
  }
})
export default class ButtonManager extends Vue {
  @State('configurationStep') private configurationStep!: string;
  @State('checkedItems') private checkedItems!: Set<CheckedItem>;

  private configurationStepTypes = ConfiguratorStepType;

  private navigateToCombinations () {
    const promise = {
      then: async () => {
        this.$store.commit('cleanModal')

        const restService = new RestService()
        const checkedItems = this.checkedItems.toArray()

        const items: ElementsResult = {
          internalElements: checkedItems.filter((item: CheckedItem) => (item.type === ElementType.Internal)).map((item: CheckedItem) => ({ name: item.name })),
          externalElements: checkedItems.filter((item: CheckedItem) => (item.type === ElementType.External)).map((item: CheckedItem) => ({ name: item.name }))
        }

        const combinations = await restService.getPossibleCombinations(items)
        this.$store.commit('createCombinations', combinations)
        this.cleanSearch()
        this.$router.push({ name: combinationsRoute.name })
      },
      catch: () => {
        this.$store.commit('cleanModal')
      }
    }

    this.$store.commit('changeModal', { id: ModalList.NavigateToCombinations, promise: promise })
  }

  private cleanSearch () {
    const search: Search = {
      searchWords: '',
      elementsResult: {
        internalElements: new Array<Element>(),
        externalElements: new Array<Element>()
      }
    }

    this.$store.commit('changeSearch', search)
  }

  private navigateBack () {
    this.$router.back()
  }
};
</script>
