<template>
  <div class="combinations-result">
    <table>
      <tr>
        <th colspan="2">
          <span>Internal + External</span>
        </th>
      </tr>
      <tbody>
        <tr v-if="!combinations.length">
          <td class="message" colspan="2">
            <span>No combinations available for selected elements.</span>
          </td>
        </tr>
        <!-- this key would preferably be an id but since we don't get one and the combination of elements is unique, I'm using it each of their names to identify the object -->
        <tr v-for="combination in combinations" :key="`${combination.internal}-${combination.external}`">
          <td>
            <span>{{combination.internal}}</span>
          </td>
          <td>
            <span>{{combination.external}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import Combination from '@/interfaces/Combination'

@Component
export default class CombinationsResult extends Vue {
  @Prop({ required: true }) private readonly combinations!: Array<Combination>;
};
</script>

<style scoped lang="scss">
@import '@/styles/components/combinationsresult.scss';
</style>
