<template>
  <table class="result-table">
    <!-- this key would preferably be an id but since we don't get one and the element's name is unique, I'm using it to identify the object -->
    <tr v-for="element in elements" :key="element.name">
      <td>
        <Checkbox :identifier="element.name" :label="element.name" :checked="checkedItems.contains({name: element.name, type: type})" @changed="toggle(...arguments, element.name, type)"/>
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import Element from '@/interfaces/Element'
import Checkbox from '@/components/Common/Checkbox.vue'
import { State } from 'vuex-class'
import Set from '@/classes/Set'
import CheckedItem from '@/interfaces/CheckedItem'
import ElementType from '@/interfaces/ElementType'

@Component({
  components: {
    Checkbox
  }
})
export default class ResultTable extends Vue {
  @Prop({ required: true }) private readonly elements!: Element[]
  @Prop({ required: true }) private readonly type!: Element[]
  @State('checkedItems') private checkedItems!: Set<CheckedItem>;

  private toggle (target: HTMLInputElement, name: string, type: ElementType) {
    const storeOperation = target.checked ? 'addCheckedItem' : 'removeCheckedItem'
    const item: CheckedItem = {
      name: name,
      type: type
    }

    this.$store.commit(storeOperation, item)
  }
};
</script>

<style scoped lang="scss">
@import '@/styles/components/resulttable.scss';
</style>
