<template>
  <div class="search-result">
    <div class="type-result">
      <h1>Internal</h1>
      <ResultTable :elements="search.elementsResult.internalElements" :type="elementTypes.Internal" />
    </div>
    <div class="type-result">
      <h1>External</h1>
      <ResultTable :elements="search.elementsResult.externalElements" :type="elementTypes.External" />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ResultTable from '@/components/ResultTable.vue'
import { State } from 'vuex-class'
import Search from '@/interfaces/Search'
import ElementType from '@/interfaces/ElementType'

@Component({
  components: {
    ResultTable
  }
})
export default class SearchResult extends Vue {
  @State('search') private search!: Search;

  private elementTypes = ElementType;
};
</script>

<style scoped lang="scss">
@import '@/styles/components/searchresult.scss';
</style>
