<template>
  <div class="selection-viewer">
    <span class="message" v-if="!itemsChecked()">Search elements to select items.</span>
    <div class="chip-list" v-else>
      <!-- this key would preferably be an id but since we don't get one and the element's name is unique, I'm using it to identify the object -->
      <Chip v-for="item in checkedItems.toArray()" :key="item.name" :item-id="item.name" :label="item.name" @deleted="deleteItem" />
    </div>
    <span class="unselect" v-if="configurationStep === configurationStepTypes.Elements && itemsChecked()" @click="$store.commit('removeAllCheckedItems')">Unselect all</span>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { State } from 'vuex-class'
import Set from '@/classes/Set'
import CheckedItem from '@/interfaces/CheckedItem'
import Chip from '@/components/Common/Chip.vue'
import ConfiguratorStepType from '@/interfaces/ConfiguratorStepType'
import Combination from '@/interfaces/Combination'

@Component({
  components: {
    Chip
  }
})
export default class SelectionViewer extends Vue {
  @State('checkedItems') private checkedItems!: Set<CheckedItem>;
  @State('configurationStep') private configurationStep!: string;
  @State('combinations') private combinations!: Array<Combination>;

  private configurationStepTypes = ConfiguratorStepType;

  private deleteItem (id: string) {
    const toDelete = this.checkedItems.toArray().filter((item: CheckedItem) => (item.name === id))[0]

    this.$store.commit('removeCheckedItem', toDelete)

    if (this.configurationStep === this.configurationStepTypes.Combinations) {
      this.$store.commit('createCombinations', this.combinations.filter((combination: Combination) => combination.internal !== id && combination.external !== id))
    }
  }

  private itemsChecked () {
    return this.checkedItems.size()
  }
};
</script>

<style scoped lang="scss">
@import '@/styles/components/selectionviewer.scss';
</style>
