<template>
  <button type="button" @click="$emit('clicked')" :disabled="disabled">
    <div class="button-content-wrapper">
      <span>{{label}}</span>
      <img v-if="icon" :src="require(`@/assets/${icon}`)" />
    </div>
  </button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class Button extends Vue {
  @Prop({ required: true }) private readonly label!: string;
  @Prop() private readonly icon: string | undefined;
  @Prop() private readonly disabled: boolean | undefined;
};
</script>

<style scoped lang="scss">
@import '@/styles/components/Common/button.scss';
</style>
