<template>
  <div class="checkbox">
    <input type="checkbox" :id="identifier" :name="identifier" @change="$emit('changed', $event.srcElement)" :checked="checked">
    <label :for="identifier" ref="checkbox" />
    <label :for="identifier" ref="checkbox-label">{{label}}</label>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class Button extends Vue {
  @Prop({ required: true }) private readonly identifier!: string;
  @Prop({ required: true }) private readonly label!: string;
  @Prop({ required: true }) private readonly checked!: boolean;
};
</script>

<style scoped lang="scss">
@import '@/styles/components/Common/checkbox.scss';
</style>
