<template>
  <div class="chip">
    <span>{{label}}</span>
    <img src="@/assets/icn-close.png" @click="$emit('deleted', itemId)" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class Chip extends Vue {
  @Prop({ required: true }) private readonly itemId!: string;
  @Prop({ required: true }) private readonly label!: string;
};
</script>

<style scoped lang="scss">
@import '@/styles/components/Common/chip.scss';
</style>
