<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <slot name="header">
            <button type="button" class="btn-close" @click="close">
              <img src="@/assets/icn-close.png" />
            </button>
          </slot>
        </header>
        <section class="modal-body">
          <slot name="body">
            Are you sure you want to view the possible combinations?
          </slot>
        </section>
        <footer class="modal-footer">
          <slot name="footer">
            <Button class="modal-button modal-red-button" label="No" @clicked="close" />
            <Button class="modal-button modal-blue-button" label="Yes" @clicked="resolve" />
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Button from '@/components/Common/Button.vue'
import { State } from 'vuex-class'
import ModalItem from '@/interfaces/ModalItem'

@Component({
  components: {
    Button
  }
})
export default class Modal extends Vue {
  @State('modal') private modal!: ModalItem;

  private close () {
    Promise.reject(new Error()).catch(this.modal.promise.catch)
  }

  private resolve () {
    Promise.resolve(this.modal.promise)
  }
};
</script>

<style scoped lang="scss">
@import '@/styles/components/Common/modal.scss';
</style>
