<template>
  <div class="search-bar-wrapper">
    <input class="search-bar" placeholder="Search here" v-model="search.searchWords" :disabled="isDisabled()" @keyup.enter="makeSearch" />
    <button type="button" class="search-button" v-if="!isLoading" :disabled="isDisabled()" @click="makeSearch">
      <img src="@/assets/icn-search.png" />
    </button>
    <div class="spinning-wheel" v-else></div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { State } from 'vuex-class'
import Search from '@/interfaces/Search'
import RestService from '@/services/RestService'
import ConfiguratorStepType from '@/interfaces/ConfiguratorStepType'

@Component
export default class SearchBar extends Vue {
  @State('search') private search!: Search;
  @State('configurationStep') private configurationStep!: string;

  private isLoading = false;
  private configurationStepTypes = ConfiguratorStepType;

  private async makeSearch () {
    this.isLoading = true

    const restService = new RestService()

    const search: Search = {
      searchWords: this.search.searchWords,
      elementsResult: {
        internalElements: await restService.getInternalElements(this.search.searchWords),
        externalElements: await restService.getExternalElements(this.search.searchWords)
      }
    }

    this.$store.commit('changeSearch', search)
    this.isLoading = false
  }

  private isDisabled () {
    return this.configurationStep !== this.configurationStepTypes.Elements
  }
};
</script>

<style scoped lang="scss">
@import '@/styles/components/Common/searchbar.scss';
</style>
