<template>
  <div id="app">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Header from '@/components/Layout/Header.vue'
import Footer from '@/components/Layout/Footer.vue'

@Component({
  components: {
    Header,
    Footer
  }
})
export default class App extends Vue {};
</script>

<style lang="scss">
@import '@/styles/main.scss';
</style>
